body {
  font-family: "Roboto Slab", serif;
  color: #000066;
  font-weight: 400;
}

hr {
  height: 3px;
  color: #BBBBBC;
  background: #BBBBBC;
  background: -moz-linear-gradient(left, #BBBBBC, #000066, #BBBBBC);
  background: -webkit-linear-gradient(left, #BBBBBC, #000066, #BBBBBC);
  background: -ms-linear-gradient(left, #BBBBBC, #000066, #BBBBBC);
  border-radius: 50%;
}

.text-muted{
  color: #BBBBBC;
}

.title-thin-super {
  font-size: 60px;
  font-weight: 100;
}

.title-large {
  font-size: 25px;
}

.title-logo
{
  display: flex;
  align-items: center;
}

.title-logo img {
  width: 100%;
  height: 100%;
  max-height: 85px;

}

.title-bar {
  display: flex;
  text-align: right;
}

.col-md-4 img
{
  cursor: pointer;
}

.img-center {
    display:block;
    margin:auto;
}

@media only screen and (max-width: 450px)
{
  a {
    font-size: .75em;
  }
}

@media only screen and (max-width: 600px)
{
  .title-logo {
    display: none;
  }
  .title {
    text-align: center;
  }
  .title-bar {
    text-align: center;
  }
}
